.daily-forecast-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1e1e1e;
  border-radius: 8px;
  border: 1px solid #cccccc;
  margin-bottom: 15px;
}

.daily-forecast-card img {
  width: 50px;
  height: 50px;
}

.daily-forecast-card div {
  margin: 0 10px;
}
  