#root {
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

@media (orientation: portrait) {
#root {
  max-width: 95vw;
}
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.accordion {
  background-color: #2e2e2e;
  border-radius: 10px;
  margin-bottom: 10px;
  color: #e0e0e0;
}

.accordion-header {
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
  border-bottom: 1px solid #cccccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e1e;
}

.accordion-header:hover {
  background-color: #383838;
}

.accordion-content {
  padding: 10px;
  display: none;
  border-top: 1px solid #cccccc;
}

.accordion-content.show {
  display: block;
}


/* Hourly Forecast (Vertical Cards with Horizontal Scroll) */
.hourly-forecast {
  display: flex;
  flex-flow: column;
  overflow-y: auto;
  padding: 10px 0;
  gap: 15px;
  width: 100%;
  max-width: calc(80rem - 20px);
}

#result {
  width: 100%;
}